:root{
    --maincolor1: #fff5d7;
    --maincolor2: #ff6b72;
    --maincolor3: #2e1728;
    --maincolor4: #dfa19d;
}

body {
    background-color: var(--maincolor1);
}

nav {
    background-color: var(--maincolor2);
}


body h1, h2, h3, h4, h5, h6, a, p{
    color: var(--maincolor3) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.myWork{
    background-color: #e4c38c;
}

.jumboPicture img{
    width: 300px;
    height: 400px;
}

.bdC h5, .bdC p{
    color: white !important;
}

.mainWork  {
    background-image: url(../images/horiseon-seo.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sideWork1  {
    background-image: url(../images/andras-vas-Bd7gNnWJBkU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.sideWork2  {
    background-image: url(../images/christian-wiediger-WkfDrhxDMC8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.sideWork3  {
    background-image: url(../images/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.bdC {
    border-color: var(--maincolor4) !important;
}

.listSkills ul li{
    width: 10%;
    text-align: center;
    overflow: hidden;
    word-break: break-word;
}

.futureSkills{
    background-color: #edc6aa;
}

.contactMe{
    background-color: #edc6aa;
    border: none;
    border-bottom: solid;
}