:root{
    --maincolor1: #F4F1DE;
    --maincolor2: #E07A5F;
    --maincolor3: #3D405B;
    --maincolor4: #81B29A;
}

body {
    background-color: var(--maincolor1);
}

nav {
    background-color: var(--maincolor2);
}

nav .container-fluid {
    background-color: var(--maincolor2);
}

body h1, h2, h3, h4, a, p{
    color: var(--maincolor3) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}


.jumboPicture img{
    width: 170px;
    height: 200px;
}