/* Main Colours Used */
:root{
    --maincolor1: #fff5d7;
    --maincolor2: #ff6b72;
    --maincolor3: #2e1728;
    --maincolor4: #dfa19d;
    --maincolor5: #edc6aa;
}

/* CSS Body */
body {
    background-color: var(--maincolor1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* CSS Navigation bad */
nav {
    background-color: var(--maincolor2);
}
/* Nav Link Colour Change */
.bkDrop a:hover {
    background-color: var(--maincolor5);
}
/* Button Shadow */
.btnShadow {
    box-shadow: 10px 5px 5px black;
}

/* CSS Font Style and Color for document */
body h1, h2, h3, h4, h5, h6, a, p{
    color: var(--maincolor3) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

/* Colour for my Work Section */
.myWork{
    background-color: #e4c38c;
}

.jumboPicture img{
    width: 300px;
    height: 400px;
}
/* White text for image content */
.bdC h5, .bdC p{
    color: white !important;
}
/* Border Colour */
.bdC {
    border-color: var(--maincolor4) !important;
}

/* Background colour for text */
.textBk{
    background-color: rgba(255, 99, 71, 0.3);
}

/* CSS Grid Images */
.mainWork  {
    background-image: url(../images/horiseon-seo.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sideWork1  {
    background-image: url(../images/andras-vas-Bd7gNnWJBkU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;

}
.sideWork2  {
    background-image: url(../images/christian-wiediger-WkfDrhxDMC8-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}
.sideWork3  {
    background-image: url(../images/domenico-loia-hGV2TfOh0ns-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}


/* CSS for skills list */
.listSkills ul li{
    width: 10%;
    text-align: center;
    overflow: hidden;
    word-break: break-word;
    background-color: var(--maincolor2);
}

.futureSkills{
    background-color: var(--maincolor5);
}

/* CSS Contact Information */
.contactMe{
    background-color: var(--maincolor5);
    border: none;
    border-bottom: solid;
}

.socials {
    width: 3rem;
}

.socials1 .btn{
    width: 3rem;
    background-color: transparent !important;
    border: none;
    padding: 0;
}



/* Footer Elements */
footer {
    background-color: var(--maincolor2);
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 35px;
    margin-top: auto;
    text-align: center;
}

footer h2::after{
    content: "👨‍💻"
}


/* Just change size of the main work image on smaller device */
@media only screen and (max-width: 800px) {
    .mainWork  {
        height: 300px;
    }
}